<div id="block-system-main-menu" class="block block-system block-menu">
  <div class="content">
    <ul class="menu">
      <li class="first leaf">
        <a href="/o-firmie" title="O firmie">O firmie</a>
      </li>
      <li class="expanded">
        <a href="/node" title="">Okna</a>
        <ul class="menu">
          <li class="first leaf">
            <a href="/okna-pcv" title="Okna PCV">Okna PCV</a>
          </li>
          <li class="last collapsed">
            <a href="/okna-drewniane" title="Okna drewniane">Okna drewniane</a>
          </li>
        </ul>
      </li>
      <li class="expanded">
        <a href="/node" title="">Drzwi</a>
        <ul class="menu">
          <li class="first last collapsed">
            <a href="/drzwi-zewn%C4%99trzne" title="Drzwi">Drzwi zewnętrzne</a>
          </li>
        </ul>
      </li>
      <li class="leaf">
        <a href="/bramy-gara%C5%BCowe" title="Bramy garażowe">Bramy garażowe</a>
      </li>
      <li class="expanded">
        <a href="/node" title="">Rolety</a>
        <ul class="menu">
          <li class="first last collapsed">
            <a href="/rolety-zewn%C4%99trzne" title="Rolety zewnętrzne">Rolety zewnętrzne</a>
          </li>
        </ul>
      </li>
      <li class="last expanded">
        <a href="/parapety" title="Parapety">Parapety</a>
        <ul class="menu">
          <li class="first leaf">
            <a href="/parapety-wewn%C4%99trzne">Parapety wewnętrzne</a>
          </li>
          <li class="last leaf">
            <a href="/parapety-zewn%C4%99trzne" title="Parapety zewnętrzne">Parapety zewnętrzne</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
