<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl" version="XHTML+RDFa 1.0" dir="ltr">
  {% include head.html %}
  <body class="html front not-logged-in one-sidebar sidebar-first page-node page-node- page-node-7 node-type-page">
    <div class="wrapper">
      <div class="region region-sidebar-first">
        {% include left.html %}
      </div>
      <div class="right">
        <div class="header">
          <p>
            <a href="/" class="active">strona główna</a> <a href="/kontakt" class="contact">kontakt</a>
          </p>
          <h1>
            <a href="/" class="active">Sol-Dom, poznań, grunwaldzka, okna, drzwi, rolety, parapety, witryny, ścianki działowe, fachowe doradztwo, pomiary, montaż, obsługa, serwis</a>
          </h1>
        </div>
        <div class="banner">
          <img src="/images/banner.png">
        </div>
        <div class="main">
          <div class="region region-content">
            <div id="block-system-main" class="block block-system">
              <div class="content">
                {{ content }}
              </div>
            </div>
          </div>
          <p class="links">
            &nbsp;
          </p>
          <div class="region region-footer">
            <div id="block-block-1" class="block block-block">
              <div class="content">
                <p>&nbsp;</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
